# Ignore objects and archives.
*.[oa]
*.ko
*~
autom4te.cache/*
*/.deps/*
*/.tmp_versions/*
*.mod.c
.pc/*

debian/compat
debian/files
debian/source/*
Makefile
Makefile.in
doc/man/aws-s3fs.1
doc/man/aws-s3fs.conf.5
src/sysconffile.h
src/sysconffile.generate-h
config.*
configure
aclocal.m4
config/*
debian/aws-*.log
debian/*.substvars
debian/aws-s3fs/*
src/aws-s3fs
test/atconfig
test/atlocal
test/test-common
test/test-config
test/test-configfile
test/test-decodecmdline
test/testsuite
test/testsuite.log
stamp-h1
