# Ignore objects and archives.
*.[oa]
*.ko
*~
autom4te.cache/*
*/.deps/*
*/.tmp_versions/*
*.mod.c
.pc/*

Makefile
Makefile.in
config.*
configure
aclocal.m4
config/*
stamp-h1
libtool

m4/libtool.m4
m4/lt*.m4

debian/aws-*.log
debian/*.substvars
debian/aws-s3fs/*
debian/files
debian/postinst
debian/postrm
debian/*.debhelper

doc/man/aws-s3fs.1
doc/man/aws-s3fs.conf.5
doc/doxygen
doc/main.doc

src/aws-s3fs
src/sysdirs.h
src/.libs/*

test/atconfig
test/atlocal
test/test-common
test/test-config
test/test-configfile
test/test-decodecmdline
test/test-logging
test/test-md5
test/test-cache
test/testsuite
test/testsuite.log
test/testsuite.at
test/testdata/livetest*.ini
