#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# The GNU ChangeLog file is hard linked to debian/changelog, and should only
# be included in the vanilla ./configure ; make ; make install procedure.
export DH_ALWAYS_EXCLUDE=ChangeLog

# Build rule for man1 pages.
%.1 : %.1.src
	REPLACE="$$""{sysconfdir}"; \
	sed < $< "s^$$REPLACE^${sysconfdir}^" > $@

# Build rule for man5 pages.
%.5 : %.5.src
	REPLACE="$$""{sysconfdir}"; \
	sed < $< "s^$$REPLACE^${sysconfdir}^" > $@

# Build rule for sysdirs.h
sysdirs.h : sysdirs.h.src
	TMPFILE1=`mktemp`; \
	TMPFILE2=`mktemp`; \
	REPLACE="$$""{sysconfdir}"; \
	sed < $< "s^$$REPLACE^${sysconfdir}^" >$$TMPFILE1; \
	REPLACE="$$""{localstatedir}"; \
	sed < $$TMPFILE1 "s^$$REPLACE^${localstatedir}^" > $$TMPFILE2; \
	REPLACE="$$""{datadir}"; \
	sed < $$TMPFILE2 "s^$$REPLACE^${datadir}^" > $$TMPFILE1; \
	mv $$TMPFILE1 $@


%:
	dh $@ --with autotools_dev

override_dh_auto_configure:
	autoreconf --install --force
	dh_auto_configure --

override_dh_auto_build:
	dh_auto_build --

override_dh_auto_clean:
	rm -f src/sysconffile.h src/sysconffile.generate-h
	rm -rf doc/doxygen
	dh_auto_clean --

override_dh_builddeb:
	dh_builddeb -- -Zlzma
