#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with autotools_dev

override_dh_auto_configure:
	autoreconf --install --force
	dh_auto_configure --

override_dh_auto_build:
	dh_auto_build --

override_dh_auto_clean:
	dh_auto_clean --

override_dh_builddeb:
	dh_builddeb -- -Zlzma
