#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with autotools_dev

override_dh_auto_build:
	dh_auto_build --
	mv src/aws_s3fs src/aws-s3fs

override_dh_auto_clean:
	dh_auto_clean --
	rm src/aws-s3fs

override_dh_builddeb:
	dh_builddeb -- -Zxz
